{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GSMS Food Stand | Checkout</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'start_selling/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	
	<!-- FontAwesome CDN -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	
    <!-- Custom styles for this template -->
	<link href="{% static 'start_selling/css/app.css' %}" rel="stylesheet">
	<link href="{% static 'start_selling/css/sales-grid.css' %}" rel="stylesheet">
    <link href="{% static 'start_selling/css/checkout.css' %}" rel="stylesheet">
	
  </head>
  <body onload="populateData({{json_items}})">
  <!-- Page Content -->
    <div class="container">

      <h1 id="session-title" class="my-4 text-center text-lg-left">Checkout</h1>
		<div class="row text-center text-lg-left">
			<!-- Grid -->
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<table id="item-list">
					<!-- fill in with javascript -->
				</table>
			</div>
		</div>
		<a class="btn btn-default" role="button" id="backBtn" href="{% url 'sell' %}">Back</a>
		<a class="btn btn-default" role="button" id="doneBtn" href="{% url 'sell' %}">Done</a>
	<!-- Bootstrap core JavaScript -->
    <script src="{% static 'start_selling/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'start_selling/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>

	<!-- Our Scripts -->
	<script src="{% static 'start_selling/scripts/checkout.js' %}"></script>
  </body>
</html>